* {
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #151315;
}

.container-principal {
    padding: 1em 0 0 0;
    margin: 0 auto;
    width: 940px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-character {
    background: #140918;
    min-height: 30em;
    width: 98.8vw;
    display: flex;
    align-items: center;
    border: 1px solid #02020214;
    box-shadow: 1px 1px 5px #191b2529;
    flex-wrap: wrap;
    justify-content: center;
}

.container-form {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

input {
    background: #161118;
    padding: 5px;
    border-radius: 0.6em;
    border: 1px solid #ccc;
    height: 2em;
    /* border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; */
    width: 40%;
    color: #e5e5e5;
    margin: 1em 0;
}

input:hover, input:focus {
    width: 100%;
    transition: 2s all;
}

.animation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    height: 3em;
    box-shadow: 0px 1px 5px #00000047;
}

i {
    /* padding: 2.3px 1em; */
    /* background: #161118; */
    height: 2em;
    margin: 0 1em;
    display: flex !important;
    border-radius: 0.6em;
    /* border: 1px solid #fff; */
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    align-items: center;
}

.input-search {
    color: #00b420;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card-character {
    background: #0b0c12;
    color: #009f08;
    border: 1px solid #222;
    padding: 1em;
    border-radius: 1em;
    margin: 1em;

}

button {
    color: #009f08;
    height: 4em;
    width: 10em;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 1em;
    margin: 1em 0;
}